.btn{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.btn .name{
    padding: 0.5em;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--dark-cyan);
    background: var(--filter-cyan);
    border-radius: 5px 0 0 5px;
}

.btn button{
    background: var(--dark-cyan);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}